In [5]:
import pandas as pd
import numpy as np

In [6]:
df =pd.DataFrame([(0,12),(1,19),(2,29),(3,37),(4,45)],columns=['x','y'])

In [11]:
df['xy']=None
for i in range(len(df)):
    df.loc[i,'xy'] = df.loc[i,'x']* df.loc[i,'y']

df

   x   y   xy
0  0  12    0
1  1  19   19
2  2  29   58
3  3  37  111
4  4  45  180

In [12]:
df['x^2']=None
for i in range(len(df)):
    df.loc[i,'x^2'] = df.loc[i,'x']**2
    
df

   x   y   xy x^2
0  0  12    0   0
1  1  19   19   1
2  2  29   58   4
3  3  37  111   9
4  4  45  180  16

In [15]:
tetha1 = ((len(df)*df['xy'].sum()) - (df['x'].sum()*df['y'].sum())) \
    /((len(df)*df['x^2'].sum()) - ((df['x'].sum())**2))

tetha1

np.float64(8.4)

In [16]:
tetha2 = (df['y'].mean()-(tetha1*df['x'].mean()))
tetha2

np.float64(11.599999999999998)

In [24]:
print(f'h(x)= {tetha2:1.1f} + {tetha1:1.1f} x')

h(x)= 11.6 + 8.4 x